<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>

      <div class="title">
        <h1><%= title %></h1>
        <img class="icon" src="/images/dog.png" alt="">
      </div>
      <div class="nav">
        <nav>
          <a href="/categories">Categories</a>
          <a href="/animals">Animals</a>
          <a href="/zoo">Your personal ZOO</a>
        </nav>
      </div>
    </header>
    <p>
      Welcome to PetPleasantries, where charm meets companionship! At
      PetPleasantries, we curate a collection of irresistibly adorable little
      animals ready to bring joy and warmth to your home. From playful puppies
      to cuddly capybaras and charming alpacas, each of our furry friends is
      raised with love and care. Discover the perfect addition to your family at
      PetPleasantries. Our commitment to quality extends beyond the delightful
      companions we provide – we ensure that every creature finds a loving home.
      Browse our selection and embark on a delightful journey of finding your
      new, lovable companion. At PetPleasantries, we believe in the magic of the
      animal-human bond, and we're here to make that magic a reality for you.
      Explore our shop, and let the enchantment begin!
    </p>
  </body>
</html>
