<!DOCTYPE html>
<html>
  <head>
    <title>Zoo</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="title">
        <h1 class="glowing"><a href="/">Tiny Paws</a></h1>
        <img class="icon" src="/images/dog.png" alt="" />
      </div>
      <div class="nav">
        <nav>
          <a href="/categories">Categories</a>
          <a href="/animals">Animals</a>
          <a href="/zoo">Your personal ZOO</a>
        </nav>
      </div>
    </header>
    <div class="animalList">
      <h1>You already have: </h1>

      <% if (animals.length === 0) { %>
      <p>No animals available.</p>
      <% } else { %>
      <ul>
        <% animals.forEach(function(animal) { %>
        <li>
          <h2><%= animal.name %></h2>

          <p><strong>Category:</strong> <%= animal.category.name %></p>

          <p><strong>Description:</strong> <%= animal.description %></p>

          <p>
            <strong>Date of Birth:</strong> <%= animal.date_of_birth_formatted
            %>
          </p>
        </li>
        <br />
        <% }); %>
      </ul>
      <% } %>
    </div>

    <script>
      passwordInput.addEventListener('input', (e) => {
        if (e.target.value === 'password') {
          createButton.classList.remove('inactive');
          if (createButton.hasAttribute('disabled'))
            createButton.removeAttribute('disabled');
          return;
        } else {
          createButton.classList.add('inactive');
          if (!createButton.hasAttribute('disabled'))
            createButton.setAttribute('disabled', true);
        }
      });
    </script>
  </body>
</html>
